
__pycache__/hw_1_func.cpython-38.pyc
*.pyc
*.pyc
*.dat
*.pyc
*.pyc
*.cpython-38.pyc
__pycache__/hw_1_func.cpython-38.pyc
__pycache__/hw_1_func.cpython-38.pyc
__pycache__/hw_1_func.cpython-38.pyc
DE_norms.txt
