*.cpython-38.pyc
__pycache__/hw_1_func.cpython-38.pyc
*.pyc
*.pyc
*.dat
*.pyc
*.pyc
*.cpython-38.pyc
__pycache__/hw_1_func.cpython-38.pyc
__pycache__/hw_1_func.cpython-38.pyc
__pycache__/hw_1_func.cpython-38.pyc
DE_norms.txt
code and example solution.tar
old_shock.png
shock_Roe_pres.png
shock_VL_pres.png
untitled.lpk
*.png
*.xy
*.grd
*.cpython-38
config.py
*.7z
